body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(198, 198, 198);
    opacity: 100%;
    font-style: light;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/hd/a937d490144685.5e0f2637da518.jpg'); 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 46px;
    margin-bottom: 20px;
    color: white;
}

h2 {
    text-align: center;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #a72424;
}

p {
    font-size: 1.2em;
    margin-bottom: 15px;
    text-align: center;
}

.lyrics {
    font-style: italic;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: #999;
}